#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db


#############
## nwjs 
#############

*.log
Start.bat
platforms/
Tests_unitaires/PC/debug.log
*.log