#screenlog{
  border: solid;
  overflow: scroll;
  height: 300px;
}


#img_broadcast{
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-top: 30%;
}

#div_broadcast{
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: grey;
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

}
