.titre_princ
{
	text-align: center;
	font-size :100px;
}

.titre_rencontre
{
	text-align: center;
}

#waiting_players
{
	font-size: 20px;
	text-align: center;
}

#connected_players
{
	font-size: 30px;
	text-align: center;
}

#players_turn{
	height:500px;
}

.btn_start_fight{
	bottom : 0;
}

.btn_next_turn{
	bottom:0;
}

.n_player{
	text-align: center;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr

}

.btnmin{
	grid-column: 0/3;
	grid-row: 1;
}

.PV_player{
	text-align: center;
	grid-column: 2/3;
	grid-row: 1;
}


.btnplus{
	margin-left: 20px;
	grid-column: 3/3;
	grid-row: 1;
}

.CA_player{
	text-align: center;
	grid-column: 2/3;
	grid-row: 1;
}



#titre_connex
{
	text-align: center;
}

#btn_dem
{
	font-size: 50px;
	position: absolute;
	right:20px;
	bottom: 20px;
}

#ip
{
	font-size: 50px;
	text-align: center;
}

#btn_ret{
	font-size: 20px;
	position: absolute;
	left: 0px;
	top: 0px;	

}

}
.sq{
	height: 43px;
}
.image
{
	width:200px;
	margin:auto;
}

#launchScreen{}

.bt_create{

	font-size:50px;
	position: absolute;
  top: 10px;
  left: 10px;
}

.bt_quit{
	font-size:10px;
	position:absolute;
	top:5px;
	right:5px;

}

.bts_camp{

    width: 70%;
    margin: auto;

}

.camp{
	display: flex;
    justify-content: space-between;
    margin-top: 20px;
		display: grid;
    grid-template-columns: 30% 20% 20% 20%;
}

.campname{
	    overflow-wrap: break-word;
}

.sousonglet{
	margin-top: 5px;
}

.add_btn{
	float: right;
}


#barre2{

	position: fixed;
	bottom: 0;
	float: under;
	background: lightgrey;

}


#center
{
	text-align:center;

}

#left
{
	text-align:left;
}

#right
{
	text-align:right;
}

html,body{
	height: 100%;
}

#Regles{
	height: 87%;
}

#iframepdf{
	width: 100%;
height: 100%;
}
.hr{
	float: right;
	font-size: large;
}

#modhour{
	height: 43px;
	width: 50px;
}

#modhourwrrapper{
	display: inline-flex;
}

#cmd{
	height: 43px;
}
.btn-hour{
	margin-left: 10px;
	margin-right: 10px;
}
.description{
	width: 80%;
margin: auto;
margin-top: 80px;
height: 300px;
}

@media screen and (max-width: 1500px) {
	.description{
		width: 90%;
	margin: auto;
	margin-top: 80px;
	height: 300px;
	}
 }

.ta {
	float: left;
	max-width: 750px;
}

.img{
	    float: right;
			width: 35%;
}

.zede{
	    max-height: 231px;
}


p{
	font-size:25px;
}