.titre_princ
{
	text-align: center;
	font-size :100px;
}

.titre_rencontre
{
	text-align: center
}


bouton
{
	float: left;
    margin-right: 170px;
}
textareadiv
{
	float : right;
	margin-left: 170px;

}

.image
{
	width:200px;
	margin:auto;
}

#launchScreen{}

.bt_create{

	font-size:50px;
	margin-left: 100px;
	margin-top: 0px;
}

.bts_camp{

    width: 30%;
    margin: auto;

}

.item{
	display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.sousonglet{
	margin-top: 5px;
}

.add_btn{
	float: right;
}


#barre2{

	position: fixed;
	bottom: 0;
	float: under;
	background: lightgrey;

}


#center
{
	text-align:center;

}

#left
{
	text-align:left;
}

#right
{
	text-align:right;
}

html,body{
	height: 100%;
}

#Regles{
	height: 87%;
}

#iframepdf{
	width: 100%;
height: 100%;
}
.hr{
	float: right;
	font-size: large;
}

#modhour{
	height: 43px;
	width: 50px;
}

#modhourwrrapper{
	display: inline-flex;
}

#cmd{
	height: 43px;
}
.btn-hour{
	margin-left: 10px;
	margin-right: 10px;
}
